@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf');
    font-weight: normal;
}

:root{
    --cor5:#5A6B62;
    --cor2:#81EEB2;
    --cor1: #C5EBD6;
    --cor3: #3A6B50;
    --cor4: #9AB8A7;
    --font-padrao: Arial, Helvetica, sans-serif;
    --font-destaque: 'Bebas Neue', sans-serif;
    --font-android: 'Android', sans-serif;
 
}

*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color:var(--cor1);
    font-family: var(--font-padrao)
}

p{
    margin: 15px 0px;
}

header{
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor3));
    min-height: 100%;
    text-align: center;
    min-width: 100%;
}
header > h1{
    color:white;
    font-family: var(--font-destaque);
    padding-top: 30px;
    margin-bottom: 20px;
    font-size: 3em;
    text-shadow: 5px 3px rgba(0, 0, 0, 0.486);
}
    
header > p {
    color: white;
    font-family: var(--font-destaque);
    max-width: 500px;
    margin: auto;
}

nav{
    background-color: #3A6B50;
    padding: 10px;
    
}
nav > a {
    padding: 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: 0.3;
}
nav > a:hover{
    background-color: var(--cor2);
    color: var(--cor3);
}

main{
    background-color: white;
    margin: auto;
    max-width: 1000px;
    min-width: 600px;
    border-radius: 0px 0px 10px 10px;
    padding: 10px;
}
main h1{
    color: var(--cor3);
    font-family:var(--font-android)
}

main h2{
    font-family: var(--font-android);
    color: var(--cor3);
    background-image: linear-gradient(to right, var(--cor2), white);
    text-indent: 10px;
}
main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 1.4em;
}

main strong{
    color: #5A6B62;
    font-weight: bold;
    padding: 2px;
}

main a{
    color: #5A6B62;
    background-color: #81EEB2;
    border-radius: 4px;
    padding: 3px;
    text-decoration: none;
    font-weight: bold;
}

main a:hover{
    text-decoration: underline;
    color: var(--cor4);
}

aside{
    background-color: #9ab8a781;
    padding: 10px;
    border-radius: 8px 8px 0px 0px;
}
aside h3{
    background-color: #3A6B50;
    color: white;
    padding: 5px;
    margin: -10px -10px 0px -10px;
    border-radius: 8px 8px 0px 0px;

}

footer{
    background-color:var(--cor3);
    color: white;
    text-align: center;
    padding: 1px;
    text-decoration: none;

}
img{
    width: 100%;
}
img#bug{
    max-width: 350px;
    display: block;
    margin: auto;
}

ul{
    margin: 20px;
    columns: 2;
    list-style-type: '\1F5F8\00A0';
}

a.externo::after{
    content: '\1F517';
}

div.video{
    background-color: #3A6B50;
    margin: 0px -10px 10px -10px;
    padding: 20px;
    position: relative;
    padding-bottom: 50%;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 3%;
    width: 90%;
    height: 90%;

}